* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    background-color:initial;
   
}

body{
   background-color: black;
}

.header{
    margin: 0%;
    background-color: #9f3647;
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    height:120px;
}


.buscadores{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

#buscador{
    background-color: #9f3647;
    border-radius: 15px;
    border: 2px solid white;
 
     padding: 5px 10px;
     color: antiquewhite;

    
}


 .buscador2{
    background-color: antiquewhite;
    border-radius: 10px;
    height: 30px;
    width: 300px;
 
 }



@media (max-width: 768px) {
        .header {
            height: initial;
        }
    }

.barranav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;
   flex-wrap: wrap;
    
}

a{
    text-decoration: none;
    color: white;
}
 
.boton{
    background-color: #9f3647;
    border-radius: 5px;
    padding:1vw 1vw;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
        transition: transform 0.3s, box-shadow 0.3s;
       border:2px dotted #8e2c3c;
     
    }
}

.iniciosesion{
 background-color:black ;
 color:white ;
 border-radius: 5px; 
 padding:1vw 1vw;
 transition: transform 0.3s, box-shadow 0.3s;
 &:hover {
     background-color: #9f3647;
 }
   
}

.enlaceboton{

  
    color: white;
    border-radius: 5px;
    padding: 1px 2px;
}


.animate__animated {
     color: white;

}

h1{ 
    color: antiquewhite;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}



h2{
    color: white;
}

h3{
    text-align: center;
    margin: 40px;
    color: aliceblue;
    font-size: 40px;
}

.buscadores{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}


#buscador{
    background-color: #9f3647;
    border-radius: 15px;
    border: 2px solid white;
 
     padding: 5px 10px;
     color: antiquewhite;
    }

.buscador2{
    background-color: antiquewhite;
    border-radius: 10px;
    height: 30px;
    width: 300px;
 
 }

img{
    width:100%;
    height: auto;
}


.subti{


   display: inline;
    color:white;
    text-decoration: none;
}


.subti1{
    color:white;
    background-color:#9f3647;
    border-radius: 3px;
}


li{
    margin-top: 5px;
    display:inline;
    text-align: center;

}

.Registro{
   
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color: #9f3647;
    color: antiquewhite;
    text-decoration: none;
}
.banner{
    width:100vw;
    height: 900px;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size:100vw 900px;
    display: flex;
    flex-direction:column;
   align-content: center;
   justify-content: center;
   gap: 20px;

align-items:center;
  font-size: 2vw;
   color: aliceblue;

}


.conteinerimg{
 display: flex;
 flex-wrap: wrap;
 justify-content:space-evenly;
 gap: 30px;
 
 

}
.peliculas{
    width: 200px;
    height: 300px;
    border-radius: 10px;

}

.peliculas:hover{
    filter: blur(10px);
    
}

.contenedorfooter{
    background-color: #9f3647;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-content:center;
}

.item{
    /* font-size: 20px;
    color: white;
    margin: 7px;
    padding: 30px;*/
    align-self: center;

}

.subti3{
    background: black;
    border-radius: 3px;
    margin: 30px;
    padding: 5px;
    align-self: center;
}


input{
    background-color:white ;

}

.conteinerboton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;

}

.btn{
    margin: 15px;
    border:1px solid white;
 
  
}
 
#aclamadasconteiner{
    display: flex;
    overflow-x: scroll;
  overflow-y: hidden;
   
    

}

.peliculaitem{
    height: 200px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}
 


